<div class="wrapper">
  <div class="main-content">
    <img [src]="hotel.image" />
    <div class="container">
      <button [routerLink]="['/hotels', hotel.id]">{{ hotel.name }}</button
      ><br />
      <p>
        Location: <u>{{ hotel.location }}</u>
      </p>

      <span
        >Number of stars: {{ hotel.numberOfStars | starsMaker }} (<b>{{
          hotel.numberOfStars
        }}</b
        >)</span
      ><br />
      <p class="description">{{ hotel.description | descriptionLimit }}</p>
    </div>
  </div>
</div>
