<div class="dialog">
  <h2 mat-dialog-title>Create Reservation</h2>
  <mat-dialog-content class="mat-typography">
    <form class="content" [formGroup]="reservationForm">
      <div>
        <br />
        <div class="group">
          <input
            type="text"
            placeholder="First Name"
            name="firstName"
            formControlName="firstName"
            [ngClass]="{'invalid' : reservationForm.controls.firstName.errors?.['pattern']}"
          />
          <p *ngIf="reservationForm.controls.firstName.errors?.['pattern']">
            First name is required and first letter must bi capital
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="text"
            placeholder="Last Name"
            name="lastName"
            formControlName="lastName"
            [ngClass]="{'invalid' : reservationForm.controls.lastName.errors?.['pattern']}"
          />
          <p *ngIf="reservationForm.controls.lastName.errors?.['pattern']">
            Last name is required and first letter must bi capital
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="date"
            placeholder="dateFrom"
            name="dateFrom"
            formControlName="dateFrom"
            [ngClass]="{'invalid' : reservationForm.controls.dateFrom.errors?.['required']}"
          />
          <p *ngIf="reservationForm.controls.dateFrom.errors?.['required']">
            Date from should be entered
          </p>
        </div>
        <br />
        <div class="group">
          <input
            type="date"
            placeholder="dateTo"
            name="dateTo"
            formControlName="dateTo"
            [ngClass]="{'invalid' : reservationForm.controls.dateTo.errors?.['required']}"
          />
          <p *ngIf="reservationForm.controls.dateTo.errors?.['required']">
            Date to should be entered
          </p>
        </div>
        <br />
        <br />
        <div class="group">
          <select
            formControlName="hotels"
            [ngClass]="{'invalid' : reservationForm.controls.hotels.errors?.['required']}"
          >
            <option value="">Choose Hotel</option>
            <option *ngFor="let hotel of hotels" value="{{ hotel.id }}">
              {{ hotel.name }}
            </option>
          </select>
          <p *ngIf="reservationForm.controls.hotels.errors?.['required']">
            Select a hotel
          </p>
        </div>
        <br />
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="left">
    <button
      mat-button
      mat-dialog-close
      [disabled]="reservationForm.invalid"
      (click)="saveReservation()"
    >
      Save Registration
    </button>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
